@import '~styles/colors';
@import '~styles/variables';
@import '~styles/mixins';

$color-swatch: #009688;
$color-dark-swatch: #80CBC4;

$color-thumb-off: #FAFAFA;
$color-dark-thumb-off: #BDBDBD;

$color-track-off: rgba($color-bg-black, 26%);
$color-dark-track-off: rgba($color-bg-white, 30%);

$color-track-on: rgba($color-swatch, 50%);
$color-dark-track-on: rgba($color-dark-swatch, 50%);


.input-box {
  padding: 16px 0 8px;
}

.label {
  font-size: 12px;
  line-height: 16px;

  color: $color-text-grey-600;
}

.input {
  font-size: 16px;
  line-height: 16px;

  display: block;

  min-width: 250px;
  margin: 8px 0;
  padding: 0 0 8px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-grey-light-opaque;
  border-left: 0;

  outline: 0;

  &:focus {
    @include theme-border(0, 0, 2px, 0);
    padding: 0 0 7px;
  }

  // &:invalid {
  //   border-bottom: 2px solid $color-error;
  //   padding: 0 0 7px;
  // }
}

.message {
  font-size: 12px;
  line-height: 16px;

  color: $color-text-grey-600;
  display: block;

  &.is-error {
    color: $color-error;
  }
}



.switch-input:checked + .switch-label {
  background: $color-track-on;

  &::before {
    left: $switch-size - $switch-label + $switch-padding;

    background: $color-swatch;
  }

  &:active::before {
    box-shadow: 0 $switch-grid-step $switch-height / 2 rgba($color-bg-black, 0.28), 0 0 0 $switch-size / 2 rgba($color-swatch, 0.2);
  }
}

.switch-label {
  position: relative;

  display: inline-block;

  width: $switch-size;
  height: $switch-height;

  cursor: pointer;
  transition: background $switch-animation;
  vertical-align: middle;

  border-radius: $switch-height / 2;
  background: $color-track-off;

  &::before {
    position: absolute;
    top: -$switch-padding;
    left: -$switch-padding;

    width: $switch-label;
    height: $switch-label;

    content: '';
    transition: left $switch-animation, background $switch-animation, box-shadow $switch-animation;

    border-radius: 50%;
    background: $color-thumb-off;
    box-shadow: 0 $switch-grid-step $switch-height / 2 rgba(0, 0, 0, 0.28);
  }

  &:active::before {
    box-shadow: 0 $switch-grid-step $switch-height / 2 rgba($color-bg-black, 0.28), 0 0 0 $switch-size / 2 rgba(#808080, 0.1);
  }
}
