*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0;

  color: $color-text-grey-900;
  background-color: $color-bg-grey-50;

  &.is-scrolling-disabled {
    overflow: hidden;
  }
}

.page-content {
  position: relative;

  flex: 1;
}

.header,
.footer {
  z-index: 1;

  height: 50px;

  background-color: $color-bg-grey-100;
}
