html {
  height: 100%;
}

.body {
  font-family: 'Roboto', sans-serif;

  height: 100%;

  display: flex;
  flex-direction: column;

  margin: 0;
  background-color: $color-bg-grey-50;
  color: $color-text-grey-900;
}

.page-content {
  position: relative;
  flex: 1;
}

.header,
.footer {
  height: 50px;
  background-color: $color-bg-grey-100;
  z-index: 1;
}
