$themes: (
  (
    primary: $base-blue-500,
    primary-text: $base-white,
    secondary: $base-red-500
  ), (
    primary: $base-blue-500,
    primary-text: $base-white,
    secondary: $base-red-500
  )
);
