<div class="card">
  <form class="js-form">
    <div class="card__content">
      <div class="input-box">
        <label for="login-input-identification" class="input-box__label">Email or username</label>
        <input type="text" class="input-box__input js-identification" id="login-input-identification"/>
        <span class="input-box__message is-error js-error-identification"></span>
      </div>
      <div class="input-box">
        <label for="login-input-password" class="input-box__label">Password</label>
        <input type="password" class="input-box__input js-password" id="login-input-password"/>
        <span class="input-box__message is-error js-error-password"></span>
      </div>
    </div>
    <div class="card__actions align-right">
      <div class="button button--dialog js-register">
        REGISTER
      </div>
      <button class="button button--dialog" type="submit">
        LOGIN
      </button>
    </div>
  </form>
</div>
