@import '~styles/colors';
@import '~styles/themes';

.card-list {
  $card-list-header-height: 48px;

  overflow: hidden;

  margin: 24px 24px 0;

  // border-radius: 2px;
  background-color: $color-bg-white;
  box-shadow: 0 2px 2px 0 $color-light-shadow;

  .header {
    @extend %theme-light-text;
    @extend %theme-primary-background;

    display: flex;

    min-height: $card-list-header-height;

    align-items: center;
    justify-content: space-between;
  }

  .header-actions {
    padding: 16px;
  }

  .header-icon-action {
    cursor: pointer;
  }

  .title {
    padding: 16px;
    font-size: 18px;
  }
}
