<form class="js-new-category-form">
  <div class="input-box">
    <label for="new-category-title" class="input-box__label">Title</label>
    <input type="text" class="input-box__input js-new-category-title" id="new-category-title" required/>
    <span class="input-box__message is-error js-error-title"></span>
  </div>
  <div class="">
    <input type="checkbox" id="new-thread-allow-new-threads" hidden="hidden"/>
    <label class="switch" for="new-thread-allow-new-threads"></label>
  </div>
  <div class="">
    <% _.each(colors, function(color) { %>
      <div class="" style="background-color: <%= color.hexColor %>">

      </div>
    <% }) %>
  </div>
</form>
