<div class="modal-dialog">
  <div class="modal-dialog__header">
    <%= title %>
  </div>

  <div class="modal-dialog__content">
    <%- content %>
  </div>

  <div class="modal-dialog__actions">
    <% if (cancelLabel) { %>
      <div class="button button--dialog js-modal-dialog-cancel-action">
        <%= cancelLabel %>
      </div>
    <% } %>

    <% if (confirmLabel) { %>
      <div class="button button--dialog js-modal-dialog-confirm-action">
        <%= confirmLabel %>
      </div>
    <% } %>
  </div>
</div>
