
.card-list {
  $card-list-header-height: 40px;

  overflow: hidden;

  margin: 24px 24px 0;

  border-radius: 2px;
  background-color: $color-bg-white;
  box-shadow: 0 2px 2px 0 $color-shadow;

  & &__header {
    @include theme-style();

    display: flex;

    min-height: $card-list-header-height;

    align-items: center;
    justify-content: space-between;
  }

  & &__header-actions {
    padding: 0 16px;
  }

  & &__title {
    padding: 0 16px;
  }
}
