.card {
  border-radius: 2px;
  background-color: $color-bg-white;
  box-shadow: 0 2px 2px 0 $color-shadow;

  & &__content {
    padding: 24px 24px 16px;
  }

  & &__actions {
    padding: 8px;
  }
}
