<div class="card">
  <div class="card__content">
    <section class="select-photo-container js-select-photo-container">
      <div class="dropzone-container js-dropzone-container">

      </div>
      <div class="image-preview-container js-image-preview-container">
        <div class="js-preview-image image-preview">

        </div>
      </div>
    </section>
  </div>
  <div class="card__actions align-right">
    <div class="button js-action-skip">
      SKIP
    </div>
    <div class="button js-action-upload-again is-hidden">
      UPLOAD AGAIN
    </div>
    <div class="button js-action-next is-hidden">
      NEXT
    </div>
  </div>
</div>
