<div class="modal-dialog">
  <div class="modal-dialog__header" {{#if headerColor}} style="background-color: {{headerColor}}" {{/if}}>
    {{title}}
  </div>

  <div class="modal-dialog__content js-modal-content"></div>

  <div class="modal-dialog__actions">
    {{#if cancelLabel}}
      <div class="button button--dialog js-modal-dialog-cancel-action">
        {{cancelLabel}}
      </div>
    {{/if}}

    {{#if confirmLabel}}
      <div class="button button--dialog js-modal-dialog-confirm-action">
        {{confirmLabel}}
      </div>
    {{/if}}
  </div>
</div>
