<section class="navigation">
  {{#each sidebarItems}}
    <div class="navigation__header js-navigate" data-page="{{link}}">
      {{label}}
    </div>
  {{/each}}
  <!-- <div class="navigation__header js-navigate" data-page="profile/{{currentUser.id}}">
    {{currentUser.username}}
  </div>
  <div class="navigation__header js-navigate" data-page="dashboard">
    DASHBOARD
  </div>
  <div class="navigation__header js-navigate" data-page="forum">
    FORUM
  </div>
  <div class="navigation__items">
    <div class="navigation__item">
      Aktualno
    </div>
    <div class="navigation__item">
      Moje teme
    </div>
    <div class="navigation__item">
      Jos nesto
    </div>
  </div> -->
  <div class="navigation__header js-logout">
    LOGOUT
  </div>
</section>
