$color-select-size: 40px;

.color-select {
  & &__item {
    width: $color-select-size;
    height: $color-select-size;
    border-radius: $color-select-size / 2;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;

    &:checked {
      border: 3px solid black;
    }
  }
}
