@import '~styles/themes';
@import '~styles/placeholders';
@import '~styles/colors';

.modal-dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  background-color: $base-grey-opaque;

  align-items: center;
  justify-content: center;
}

.modal-dialog {
  @extend %small-container;
  max-height: 90vh;
  border-radius: 2px;
  background-color: $color-bg-white;
  box-shadow: 0 2px 2px 0 $color-shadow;

  .header {
    @extend %theme-primary-background;
    @extend %theme-light-text;
    font-size: 18px;
    padding: 16px;
  }

  .content {
    padding: 24px 24px 16px;
  }

  .actions {
    @extend %theme-primary-text;
    font-weight: bold;
    padding: 8px;

    text-align: right;
  }
}
