@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext');

:global {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  a {
    text-decoration: none;
  }
}
