<div class="card">
  <form class="js-form">
    <div class="card__content">
      <div class="input-box">
        <label for="login-input-identification" class="label">Email or username</label>
        <input type="text" class="input js-identification" id="login-input-identification"/>
      </div>
      <div class="input-box">
        <label for="login-input-password" class="label">Password</label>
        <input type="password" class="input js-password" id="login-input-password"/>
      </div>
    </div>
    <div class="card__actions align-right">
      <div class="button button--dialog js-submit">
        LOGIN
      </div>
    </div>
  </form>
</div>
