<div class="card">
  <form class="js-form">
    <div class="card__content">
      <div class="input-box">
        <label for="register-input-email" class="label">Email</label>
        <input type="email" class="input js-email" id="register-input-email"/>
      </div>
      <div class="input-box">
        <label for="register-input-password" class="label">Password</label>
        <input type="password" class="input js-password" id="register-input-password"/>
      </div>
    </div>
    <div class="card__actions align-right">
      <div class="button button--dialog js-submit">
        REGISTER
      </div>
    </div>
  </form>
</div>
