@import '~styles/colors';

.body {
  font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0;

  color: $color-text-grey-900;
  background-color: $color-bg-grey-50;

  &.is-scrolling-disabled {
    overflow: hidden;
  }
}

.main {
  position: relative;

  flex: 1;
}
