<header class="header" id="header"></header>
<main class="page-content" id="main"></main>
<footer class="footer" id="footer"></footer>
<section class="modal" id="modal"></section>
<section id="loading"></section>
