<aside class="sidebar">

  <section class="navigation">
    <div class="navigation__header js-dashboard">
      DASHBOARD
    </div>
    <div class="navigation__header js-forum">
      FORUM
    </div>
    <div class="navigation__items">
      <div class="navigation__item">
        Aktualno
      </div>
      <div class="navigation__item">
        Moje teme
      </div>
      <div class="navigation__item">
        Jos nesto
      </div>
    </div>
  </section>

</aside>

<article class="js-wrapped-page-content wrapped-page-content">

</article>
