<div class="forum">
  <div class="forum__heading">
    <div class="forum__title">
      FORUM
    </div>
    <div class="forum__actions">
      <img class="forum__action js-forum-edit" src="/public/images/edit-icon-white.svg" alt="Edit" />
    </div>
  </div>
  <div class="card-list">
    <div class="card-list__title">
      <!-- TODO: ADD CATEGORY NAME -->
    </div>
    <div class="card-list__items">
      <% threads.each(function(thread) { %>
        <div class="js-navigate-to-thread" data-thread-id="<%= thread.get('id') %>">
          <%= thread.get('title') %>
        </div>
      <% }); %>
    </div>
  </div>
</div>

<div class="fab new-thread-button js-new-thread-button">
+
</div>

<div class="new-thread-modal modal-container js-new-thread-modal">
  <div class="modal">
    <div class="modal__content">
      <div class="input-box">
        <label class="input-box__label" for="new-thread-title">Title</label>
        <input class="input-box__input js-new-thread-title" type="text" id="new-thread-title">
      </div>
      <div class="input-box">
        <label class="input-box__label" for="new-thread-content">Content</label>
        <textarea class="input-box__input js-new-thread-content" type="text" id="new-thread-content"></textarea>
      </div>
    </div>
    <div class="modal__actions">
      <div class="button js-new-thread-cancel">
        CANCEL
      </div>
      <div class="button js-new-thread-submit">
        SUBMIT
      </div>
    </div>
  </div>
</div>
