.forum-page {
  height: 100%;
}

.new-thread-button {
  position: absolute;
  bottom: 20px;
  right: 20px;

  background-color: $color-bg-grey-600;
  color: $color-text-white;
}

.forum {
  & &__heading {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include theme-style();
  }

  & &__title {
    font-size: 24px;
    padding: 0 16px;
    color: $color-text-white;
  }

  & &__actions {
    padding: 0 16px;
  }

  & &__action {
    cursor: pointer;
  }
}
