.thread-page {
  height: 100%;

  .thread {
    & &__header {
      color: $color-text-white;
      background-color: $color-bg-grey-600;
    }

    & &__title {
      font-size: 40px;

      padding: 20px 20px 30px;
    }

    & &__content {
      padding: 20px;
    }

    & &__additional-info {
      display: flex;

      padding: 20px 20px 30px;

      align-items: center;
    }

    & &__owner-photo {
      $photo-size: 50px;

      display: inline-block;

      width: $photo-size;
      height: $photo-size;
      margin-right: 10px;

      border-radius: $photo-size / 2;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    & &__owner-info {
      line-height: 25px;

      display: inline-block;
    }

    & &__owner-username {
      display: inline-block;
    }

    & &__date {
      font-size: 14px;
    }

    & &__new-comment-container {
      margin-top: 10px;
      // background-color: $color-bg-grey-600;
      padding: 20px;
    }
  }

  .comment {
    position: relative;

    margin: 30px 30px 0;

    &::before {
      position: absolute;
      top: -30px;
      right: auto;
      bottom: 0;
      left: 25px;

      width: 1px;

      content: '';

      background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child {
      &::before {
        bottom: auto;

        height: 50px;
      }
    }

    & &__image {
      $photo-size: 50px;

      position: absolute;
      top: 0;
      left: 0;

      width: $photo-size;
      height: $photo-size;
      margin-right: 10px;

      border-radius: $photo-size / 2;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    & &__card {
      margin-left: 78px;
      padding: 20px 30px;

      background-color: $color-bg-white;
      box-shadow: 0 2px 2px 0 $color-shadow;
    }

    & &__info {
      font-size: 14px;
    }

    & &__content {
      margin-top: 10px;
    }
  }
}
